<div class="parent">
  <mat-toolbar class="toolbar">
    <div class="span">WELCOME BACK!</div>
  </mat-toolbar>

  <div *ngIf="isLoading">
    <img src="assets/img/Rolling.gif" />
  </div>

  <div *ngIf="error && !isLoading">
    <br />
    <p class="error">{{ error }}</p>
  </div>

  <form
    #loginForm="ngForm"
    class="my-form"
    (ngSubmit)="onSubmit(loginForm)"
    *ngIf="!isLoading"
  >
    <mat-form-field class="full-width">
      <mat-label>Username</mat-label>
      <input
        matInput
        placeholder="Username"
        type="username"
        id="userName"
        class="form-control"
        ngModel
        name="userName"
        required
      />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="Password"
        type="password"
        id="password"
        class="form-control"
        ngModel
        name="password"
        required
        minlength="6"
      />
    </mat-form-field>

    <button
      mat-raised-button
      class="btn btn-primary"
      type="submit"
      [disabled]="!loginForm.valid"
    >
      Login
    </button>
  </form>
</div>
